/* -----------------> Fonts <--------------------- */
@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap'); /* Merienda */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap'); /* Kanit */
 
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

#container
{
    position: absolute;
    height: 100vh;
    width: 100vw;
    background: url(images/bg14.jpg); /* 8 ,10 , 13 , 14* */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

nav
{
    position: fixed;
    display: flex;
    /* position: relative; */
    align-items: center;
    height: 80px;
    background: #0000008a;
    box-shadow: #0a0a0a 0px 5px 10px;
}

/* -----------> Hamburger Menu <---------------- */
#hamburgerMenu
{
    margin: 0px 10px 0px 35px;
}

#hamburgerMenu i
{
    font-size: 1.3rem;
    color: white;
}

/* ---------------> LOGO <------------------- */
#logo
{
    display: flex;
    align-items: center;
    margin: 0px 40px 0px 10px;
}

#logo h3
{
    color: #ffffff;
    font-family: 'Merienda', cursive ;
    letter-spacing: 1px;
}

/* --------------------> Search Bar <---------------- */
#searchBar
{
    width: 70vw;
    display: flex;
    align-items: center;
    margin: 0px 0px 0px 10px;
}

#searchSection
{
    background: #ffffff;
    padding: 0px 20px;
    border-radius: 10px;
}

#searchBar input
{
    border: none;
    width: 40vw;
    height: 50px;
    padding: 0px 15px;
}

#searchBar input:focus
{
    outline: none;
}

#closeSearch
{
    display: none;
}

/* -------------------------> Setting Menu <------------------ */
#settingMenu
{
    width: 200px;
    margin: auto;
    display: flex;
    justify-content: center;
}

#settingMenu i
{
    color: white;
    font-size: 1.3rem;
    margin: 0px 5px;
}

/* -----------------> Account <-------------------- */
#account
{
    display: flex;
    align-items: center;
    margin: 0px 20px 0px 0px;
    width: 100px;
}

#account img
{
    margin: 0px 6px;
}

#gridIcon
{
    filter: invert(1);
    height: 1.3rem;
}
