/* --------------> Fonts <---------------------------- */
/* @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap'); Kanit */
/* @import url('https://fonts.googleapis.com/css2?family=Acme&display=swap'); Acme */
/* @import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap'); /* Courgette */
/* @import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap'); /* kaushan script  */
/* @import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap'); /* Philosopher */
@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');


*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ffffff;
}

/* ------------------->  Classes <----------------------- */
.underline
{
    width: 200px;
    height: 2px;
    margin: 13px auto;
    border-radius: 10px;
    background: #ffffff;
}

.sectionLine
{
    height: 50%;
    width: 3px;
    position: absolute;
    background: #ffffff;
    border-radius: 20px;
    top: calc(50% - 50%/10);
    right: calc(50% - 3px/2);
}

.avatarSection
{
    width: 80%;
    height: 300px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.imgSize
{
    height: 120px;
    width: 120px;
    margin: auto;
}

/* ------------> signUpPage background container <--------------- */ 
#container
{
    width: 100vw;
    height: 100vh;
    background: url(images/signUpPageBg.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    overflow: hidden;


    display: flex;
    align-items: center;
    justify-content: center;
}


/* ----------------> Keepify logo <------------------- */
#logo
{
    position: absolute;
    top: 15px;
    left: 30px;
}

#logo h1
{
    /* color: #ffffff; */
    font-size: 2.3rem;
    /* font-family: 'Kanit', sans-serif; */
    /* font-family: 'Acme', sans-serif; */
    /* font-family: 'Courgette', cursive ; */
    /* font-family: 'Kaushan Script', cursive ; */
    /* font-family: 'Philosopher', sans-serif; */
    font-family: 'Merienda', cursive ;
    /* letter-spacing: 5px; */
}

#signUpArea
{
    /* display: none; */
    height: 650px;
    width: 30vw;
    /* position: absolute;
    left: calc(50% - 30vw/2);
    top: calc(50% - 650px/2); */
    text-align: center;

    /* glassMorphism */
    background: rgba(173, 171, 244, 0.2);
    border-width: 1px 0px 0px 1px;
    border-style: solid;
    border-color: #404277;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(25px);
    border-radius: 15px;
}

#signUpForm
{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 30px auto;
}

#signUpHeading
{
    margin-top: 50px;
    letter-spacing: 2px;
}

/* ------------------> Input field's CSS <-----------------------*/

#signUpForm input,#signUpForm button
{
    margin: 20px 0px;
    height: 50px;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #919191;
    border-radius: 10px;
    /* color: #ffffff; */
    padding: 0px 20px 0px 20px;
}

#signUpForm input:focus
{
    outline: none;
}

#signUpForm input::placeholder
{    
    color: #ffffff;    
}

/* -------------> To change the color of calander icon in date input field <------------  */

input[type="date"]::-webkit-calendar-picker-indicator 
{
    filter: invert(1);
}

#signUpForm button
{
    width: 40%;
    margin: 40px auto;
}

/* ----------------------> Avatar Page <-------------------------- */
#avatarPage
{
    /* display: none; */
    position: absolute;
    width: 50vw;
    left: calc(50% - 50vw/2);
    height: 750px;
    /* top: calc(50% - 750px/2.2); */
    top: 100%;
    text-align: center;

    background: rgba(173, 171, 244, 0.2);
    border-width: 1px 0px 0px 1px;
    border-style: solid;
    border-color: #404277;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(25px);
    border-radius: 15px;
}

/* ----------------> Back Arrow <------------------- */
#backArrow
{
    position: absolute;
    top: 18px;
    left: 18px;
}

#backArrow i
{
    font-size: 30px;
}

/* ------------------------> Done button <----------------- */
#avatarPage button
{
    width: 56px;
    height: 56px;
    position: absolute;
    bottom: 18px;
    right: 18px;
    padding: 10px;
    border-radius: 100%;
    border: none;
    background: #08B624;
}

#avatarPage button i
{
    font-size: 35px;
}

/* ------------> Avatar Heading <---------------- */
#avatarHeading
{
    margin-top: 30px;
    letter-spacing: 1.5px;
}

/* ----------------> Selected Avatar Detail <-------------- */
#selectedAvatarDetail
{
    margin: 30px 0 0 0;
}

#selectedAvatarDetail h2
{
    margin: 10px 0 0 0;
}

/* -------------> Avatar Container <------------------- */
#avatarContainer
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    width: 100%;
}

#lowerArea
{
    display: flex;
    height: 60%;
}

/* --------------> Animation Classes <---------------- */

.animationDetail
{
    animation-duration: 500ms;
    animation-iteration-count: 1;
    animation-timing-function:ease-in-out;
    animation-fill-mode: forwards; 
}

.classAvatarIn
{
    animation-name: avatarIn;
    animation-duration: 800ms;
}

.classAvatarOut
{
    animation-name: avatarOut;
}

.classSignUpPageIn
{
    animation-name: signUpPageIn;
    animation-duration: 700ms;
}

.classSignUpPageOut
{
    animation-name: signUpPageOut;
    animation-duration: 400ms;
}

/* -----------------> Animations <---------------- */

@keyframes avatarIn
{
    0%
    {
        top: 80%;
    }
    /* 33%
    {
        top: 50%;
    } */
    50%
    {
        /* position: absolute; */
        top: 13%;
    }
    100%
    {
        /* top: calc(50% - 750px/2.2); */
        position: initial;
    }
}

@keyframes avatarOut
{
    0%
    {
        position: absolute;
        top: 20%;
    }
    /* 33%
    {
        top: 60%;
    }
    66%
    {
        top: 80%;
    } */
    100%
    {
        position: absolute;
        top:100%;
    }
}

@keyframes signUpPageIn
{
    0%
    {
        position: absolute;
        top: -80%;
    }
    90%
    {
        position: absolute;
        top: 15%;
    }
    /*80%
    {
        position: initial;
        /* top: 0%; 
    } */
    100%
    {
        position: initial;        
    }
}

@keyframes signUpPageOut
{
    0%
    {
        position: absolute;
        top: 0%;
        left: calc(50% - 30vw/2);
    }
    /* 33%
    {
        top: 0%;
    }
    66%
    {
        top: -50%;
    } */
    100%
    {
        position: absolute;
        top: -80%;
    }
}

/* ----------------> Media Queries <------------------- */

@media only screen and (max-width : 1545px)
{
    #signUpArea
    {
        width: 520px;
        left : calc(50% - 520px/2);
    }

    #avatarPage
    {
        width: 775px;
        left: calc(50% - 775px/2);
    }
}

@media only screen and (max-width : 930px)
{
    #avatarPage
    {
        width: 500px;
        left: calc(50% - 500px/2);
    }

    .imgSize
    {
        height: 90px;
        width: 90px;
    }

    .avatarSection
    {
        width: 85%;
    }

    .sectionLine
    {
        top: calc(50% - 50%/6);
    }

    #avatarHeading 
    {        
        font-size: 30px;
    }

    #backArrow i 
    {
        font-size: 25px;
    }

    #selectedAvatarDetail h2 
    {
        font-size: 28px;
    }

    #lowerArea button
    {
        width: 45px;
        height: 45px;
    } 

    #lowerArea button i
    {
        font-size: 28px;
    } 
}