/* --------------> Fonts <---------------------------- */
/* @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap'); Kanit */
/* @import url('https://fonts.googleapis.com/css2?family=Acme&display=swap'); Acme */
/* @import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap'); /* Courgette */
/* @import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap'); /* kaushan script  */
/* @import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap'); /* Philosopher */
@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');


*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ffffff;
}

/* ------------------->  Classes <----------------------- */
.underline
{
    width: 200px;
    height: 2px;
    margin: 13px auto;
    border-radius: 10px;
    background: #ffffff;
}


/* ------------> signUpPage background container <--------------- */ 
#container
{
    width: 100vw;
    height: 100vh;
    background: url(images/signUpPageBg.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    overflow: hidden;
}


/* ----------------> Keepify logo <------------------- */
#logo
{
    position: absolute;
    top: 15px;
    left: 30px;
}

#logo h1
{
    /* color: #ffffff; */
    font-size: 2.3rem;
    /* font-family: 'Kanit', sans-serif; */
    /* font-family: 'Acme', sans-serif; */
    /* font-family: 'Courgette', cursive ; */
    /* font-family: 'Kaushan Script', cursive ; */
    /* font-family: 'Philosopher', sans-serif; */
    font-family: 'Merienda', cursive ;
    /* letter-spacing: 5px; */
}

#signUpArea
{
    display: none;
    height: 650px;
    width: 30vw;
    position: absolute;
    left: calc(50% - 30vw/2);
    top: calc(50% - 650px/2);
    text-align: center;

    /* glassMorphism */
    background: rgba(173, 171, 244, 0.2);
    border-width: 1px 0px 0px 1px;
    border-style: solid;
    border-color: #404277;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(25px);
    border-radius: 15px;
}

#signUpForm
{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 30px auto;
}

#signUpHeading
{
    margin-top: 50px;
    letter-spacing: 2px;
}

/* ------------------> Input field's CSS <-----------------------*/

#signUpForm input,#signUpForm button
{
    margin: 20px 0px;
    height: 50px;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #919191;
    border-radius: 10px;
    /* color: #ffffff; */
    padding: 0px 20px 0px 20px;
}

#signUpForm input:focus
{
    outline: none;
}

#signUpForm input::placeholder
{    
    color: #ffffff;    
}

/* -------------> To change the color of calander icon in date input field <------------  */

input[type="date"]::-webkit-calendar-picker-indicator 
{
    filter: invert(1);
}

#signUpForm button
{
    width: 40%;
    margin: 40px auto;
}

/* ----------------------> Avatar Page <-------------------------- */
#avatarPage
{
    position: absolute;
    width: 50vw;
    left: calc(50% - 50vw/2);
    height: 750px;
    top: calc(50% - 750px/2.2);
    text-align: center;

    background: rgba(173, 171, 244, 0.2);
    border-width: 1px 0px 0px 1px;
    border-style: solid;
    border-color: #404277;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(25px);
    border-radius: 15px;
}

/* ----------------> Back Arrow <------------------- */
#backArrow
{
    position: absolute;
    top: 18px;
    left: 18px;
}

#backArrow i
{
    font-size: 30px;
}

/* ------------------------> Done button <----------------- */
#avatarPage button
{
    width: 56px;
    height: 56px;
    position: absolute;
    bottom: 18px;
    right: 18px;
    padding: 10px;
    border-radius: 100%;
    border: none;
    background: #08B624;
}

#avatarPage button i
{
    font-size: 35px;
}

/* ------------> Avatar Heading <---------------- */
#avatarHeading
{
    margin-top: 30px;
    letter-spacing: 1.5px;
}

/* ----------------> Selected Avatar Detail <-------------- */
#selectedAvatarDetail
{
    margin: 30px 0 0 0;
}

#selectedAvatarDetail h2
{
    margin: 10px 0 0 0;
}